git+https://github.com/botswana-harvard/edc-action-item.git@develop#egg=edc-action-item
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc-base
git+https://github.com/botswana-harvard/edc-consent.git@develop#egg=edc-consent
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc-dashboard
git+https://github.com/botswana-harvard/edc-data-manager.git@develop#egg=edc-data-manager
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-document-archieve-api.git@develop#egg=document_archieve_api
git+https://github.com/botswana-harvard/edc-facility.git@develop#egg=edc-facility
git+https://github.com/botswana-harvard/edc-fieldsets.git@develop#egg=edc-fieldsets
git+https://github.com/botswana-harvard/edc-form-validators.git@develop#egg=edc-form-validators
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc-lab
git+https://github.com/botswana-harvard/edc-lab-dashboard.git@develop#egg=edc-lab-dashboard
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc-label
git+https://github.com/botswana-harvard/edc-list-data.git@develop#egg=edc-list-data
git+https://github.com/botswana-harvard/edc-locator.git@develop#egg=edc-locator
git+https://github.com/botswana-harvard/edc-metadata.git@develop#egg=edc-metadata
git+https://github.com/botswana-harvard/edc-metadata-rules.git@develop#egg=edc-metadata-rules
git+https://github.com/botswana-harvard/edc-model-admin.git@develop#egg=edc-model-admin
git+https://github.com/botswana-harvard/edc-model-wrapper.git@develop#egg=edc-model-wrapper
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc-navbar
git+https://github.com/botswana-harvard/edc-odk.git@develop#egg=edc-odk
git+https://github.com/botswana-harvard/edc-offstudy.git@develop#egg=edc-offstudy
git+https://github.com/botswana-harvard/edc-prn.git@develop#egg=edc-prn
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-reference.git@develop#egg=edc-reference
git+https://github.com/botswana-harvard/edc-registration.git@develop#egg=edc-registration
git+https://github.com/botswana-harvard/edc-reports.git@develop##egg=edc-reports
git+https://github.com/botswana-harvard/edc-rest.git@develop#egg=edc-rest
git+https://github.com/botswana-harvard/edc-search.git@develop#egg=edc-search
git+https://github.com/botswana-harvard/edc-timepoint.git@develop#egg=edc-timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@develop#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/django-crypto-fields.git@develop#egg=django-crypto-fields
git+https://github.com/botswana-harvard/django-revision.git@develop#egg=django-revision
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@develop#egg=edc-subject-dashboard
git+https://github.com/botswana-harvard/edc-list-data.git@develop#egg=edc-list-data
git+https://github.com/tshilo-dikotla/td-maternal-validators.git@develop#egg=td-maternal-validators
git+https://github.com/tshilo-dikotla/td-infant-validators.git@develop#egg=td-infant-validators
git+https://github.com/tshilo-dikotla/td-rando.git@develop#egg=td-rando
git+https://github.com/tshilo-dikotla/td-labs.git@develop#egg=td-labs
git+https://github.com/tshilo-dikotla/td-dashboard.git@develop#egg=td-dashboard
git+https://github.com/tshilo-dikotla/td-infant.git@develop#egg=td-infant
git+https://github.com/tshilo-dikotla/td-maternal.git@develop#egg=td-maternal
git+https://github.com/tshilo-dikotla/td-export.git@develop#egg=td-export
git+https://github.com/tshilo-dikotla/td-prn.git@develop#egg=td-prn
git+https://github.com/tshilo-dikotla/td-reference.git@develop#egg=td-reference
git+https://github.com/tshilo-dikotla/td-metadata-rules.git@develop#egg=td-metadata-rules
git+https://github.com/tshilo-dikotla/td-visit-schedule.git@develop#egg=td-visit-schedule
